/* Shared style start */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  margin-top: 30px;
}
.section-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-header .section-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.section-header .section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
/* Shared style End */

/* Header section style start */
header,
main {
  margin: 50px 135px;
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo-section img {
  margin-right: 20px;
}
h2 > .hero {
  color: #131318;
  font-size: 2.1rem;
  font-weight: 800;
}
h2 > .Travel {
  color: #ff5400;
  font-size: 2.1rem;
  font-weight: 800;
}

/* Nav section style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.nav-area ul {
  display: flex;
}
.nav-area ul li {
  list-style-type: none;
  margin-right: 35px;
}
.nav-area ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.1rem;
  font-weight: 400;
}
.nav-area ul li a > span {
  color: #ff5400;
  font-weight: 700;
}
.fa-bars {
  display: none;
}
/* Nav section style End */

/* Banner section style start */
.banner-section {
  background-image: url(Images/Group\ 13.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 14px;
  text-align: center;
  position: relative;
  color: #fff;
  background-size: cover auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.banner-description {
  color: #fff;
  margin: 20px 140px;
  font-weight: 400;
}

.input-container form {
  border-radius: 8px;
  display: inline-flex;
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.input-container input[type="text"] {
  border-radius: 8px;
  background: #fff;
  padding: 12px;
  gap: 24px;
  color: rgba(19, 19, 24, 0.5);
  border: none;
}
.btn-input {
  border-radius: 8px;
  background: #ff5400;
  padding: 12px 20px;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.btn-input i {
  margin-right: 10px;
}
form > input,
button {
  margin-right: 24px;
}
/* Banner section style  End */
/* Header sectin style End */

/* Tour section style start */
.tour-section {
  display: flex;
  justify-content: space-between;
}
.tour-content {
  margin-right: 30px;
}
.tour-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.tour-description,
ul li {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  margin-bottom: 15px;
}
.tour-final-description {
  color: #5a5a5d;
  font-weight: 400;
  margin-bottom: 10px;
}
/* Tour section style End */

/* Destination section style start */
.all-img {
  display: flex;
  justify-content: space-around;
}
.all-img .image-container img{
  transition: opacity 0.3s ease-in-out;
}
.all-img .image-container:hover {
  opacity: 0.9;
}
.image-container {
  position: relative;
  margin: 10px;
}

.image-container img {
  object-fit: cover;
  overflow: hidden;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.7rem;
}
/* Destination section style End */

/* Choose us section style Start */
.card-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.card-description {
  color: #5a5a5d;
  font-weight: 400;
}
.card-container1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 1rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card2 {
  padding: 10px;
  border-radius: 1rem;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card3 {
  padding: 10px;
  /* width: 500px;
  height: 184px; */
  width: 50%;

  border-radius: 1rem;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* Choose us section style End */

/* discount section style start */
.hotel {
  position: relative;
  margin-bottom: 30px;
}
.hotel .img img {
  width: 100%;
}

.hotel-info {
  border-radius: 16px;
  width: 400px;
  right: 50px;
  bottom: 55px;
  height: 280px;
  position: absolute;
  padding: 20px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.second-hotel {
  left: 50px;
  bottom: 55px;
}
.hotel-info span {
  margin-right: 20px;
}
.hotel-info span i {
  color: rgba(255, 84, 0, 1);
  margin-right: 10px;
}
.hotel-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 10px 0;
}
.hotel-description {
  color: #5a5a5d;
  font-weight: 400;
  margin-bottom: 10px;
}
.hotel-price {
  color: #ff5400;
  font-size: 1.25rem;
  font-weight: 800;
}
.pakage-btn {
  text-align: center;
}
/* Discount section style End */

/* Perfect section style start */
.perfect-section {
  display: flex;
  margin: 70px 0;
  justify-content: space-between;
}
.perfect-content {
  margin-right: 20px;
}
.perfect-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.perfect-description {
  color: #5a5a5d;
  font-weight: 400;
  margin: 20px 0;
}
.perfect-content ul li {
  color: #131318;
  font-weight: 700;
}
.play-upper {
  display: flex;
  justify-content: space-between;
}
.perfect-video {
  position: relative;
}
.play-upper span i {
  margin-right: 20px;
}
.play-upper {
  padding-right: 30px;
}
.video-controlor {
  position: absolute;
  color: #fff;
  width: 100%;
  margin: 15px;
  bottom: 20px;
}
.video-controlor .video-title {
  text-align: center;
  align-items: center;
  margin-bottom: 150px;
  font-size: 1.5rem;
  font-weight: 700;
}
.play-control .play-line img{
  width: 95%;
  text-align: center;
}
/* Perfect section style End */

/* News section style start */
.news-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.news-content {
  border-radius: 16px;
  padding: 15px;
  border: 1px solid #ff5400;
}
.news-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 15px;
}
.news-descriptin {
  color: #5a5a5d;
  font-weight: 400;
  margin-bottom: 20px;
}
.news-form {
  margin: 30px 0 15px;
}
.news-form input {
  border: none;
  margin-bottom: 10px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 15px;
  color: rgba(19, 19, 24, 0.3);
  font-weight: 400;
  width: 90%;
}
.news-form button {
  width: 100%;
}

.travel-link a {
  text-decoration: none;
  color: #fff;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.discount .offer {
  font-size: 2rem;
  font-weight: 800;
}
.news-img {
  position: relative;
}
.discount {
  color: #fff;
  padding: 12px;
  position: absolute;
  text-align: center;
  border-radius: 16px;
  background: #ff5400;
  width: 280px;
  height: 100px;
  bottom: 57px;
  right: 10px;
  transform: rotate(-19.628deg);
}
/* News section styole End */

/* service section style */
.service-section {
  margin: 50px 0;
}
.catarogy {
  color: #df6951;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
}
.service-title {
  color: #181e4b;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.all-service {
  display: flex;
  justify-content: space-around;
}
.service-item {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 2px 2px 2px 2px #eddddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* Footer section style */
footer {
  background: rgba(19, 19, 24, 0.05);
}
.footer-logo-section {
  text-align: center;
  padding-top: 100px;
}
.footer-logo-section .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.footer-logo-section .logo img {
  margin-right: 10px;
}
.white-hr {
  color: #ffffff26;
  margin: 0 60px;
}

.icon {
  margin: 20px 0;
}
.icon a {
  cursor: pointer;
  margin-right: 20px;
}
.icon a i {
  font-size: 30px;
  color: #131318;
}
.bottom-hr {
  color: rgba(19, 19, 24, 0.1);
  width: 99%;
  margin: 0 auto;
}
.coryright {
  color: #131318;
  font-weight: 300;
  padding: 50px 0 100px;
}
/* Footer section style End */

/* Responsive Design */
/* For small device or less 600 */
@media screen and (max-width: 600px) {
  header,
  main {
    margin: 10px 20px;
  }
  footer {
    padding: 0 15px;
  }
  .video-controlor .video-title {
    margin-bottom: 50px;
    font-size: 1rem;
  }
  .video-controlor {
    bottom: 5px;
  }
 .play-upper {
  margin-left: 25px;
}
  .play-control .play-line img{
    width: 90%;
  }
  .nav-area ul {
    display: none;
  }
  .fa-bars {
    display: inline;
    font-size: 40px;
  }
  h2 > .hero,
  h2 > .Travel {
    font-size: 1.5rem;
  }
  .banner-section {
    height: 90vh;
  }
  .banner-section .banner-title,
  .banner-description {
    width: 100%;
    margin: 15px auto;
  }
  .banner-title {
    font-size: 1.7rem;
  }
  .input-container form {
    margin-top: 10px;
    flex-direction: column;
  }
  .input-container form input,
  button {
    margin-bottom: 10px;
  }
  .tour-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tour-img img {
    width: 100%;
  }
  .all-img {
    display: flex;
    flex-direction: column;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }
  .card1 {
    margin-bottom: 10px;
  }
  .card-container1 {
    flex-direction: column;
  }

  .card3 {
    width: 100%;
  }
  .hotel {
    display: flex;
    flex-direction: column;
  }

  .hotel-info,
  .second-hotel {
    width: 200px;
    height: 300px;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .discount {
    width: 200px;
    bottom: 35px;
  }
  .hotel .img img {
    height: 450px;
    background-size: cover;
    width: 100%;
  }
  .perfect-section {
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
  }
  .perfect-video img {
    width: 100%;
  }
  .play-line img {
    margin-right: 10px;
  }
  .news-section {
    flex-direction: column;
  }
  .news-img img {
    width: 100%;
  }
  .all-service {
    flex-direction: column;
  }
}

/* Responsive For medium device */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .banner-section {
    margin-top: 0;
    border-radius: 10px;
  }
  header,
  main {
    margin: 50px;
  }
  footer {
    padding: 0 15px;
  }
  .nav-area ul {
    display: none;
  }

  h2 > .hero,
  h2 > .Travel {
    font-size: 1.5rem;
  }
  .fa-bars {
    display: inline;
    font-size: 40px;
  }
  .banner-section {
    height: 100vh;
    margin: 0 auto;
  }
  .banner-section .banner-title,
  .banner-description {
    width: 100%;
    margin: 15px auto;
  }
  .banner-title {
    font-size: 1.7rem;
  }
  .input-container form {
    margin-top: 10px;
    flex-direction: column;
  }
  .input-container form input,
  button {
    margin-bottom: 10px;
  }
  .tour-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tour-img img {
    width: 100%;
  }

  .all-img {
    display: flex;
    flex-direction: column;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }
  .card1 {
    margin-bottom: 10px;
  }
  .card-container1 {
    flex-direction: column;
  }

  .card3 {
    width: 100%;
  }
  .hotel {
    display: flex;
    flex-direction: column;
  }

  .hotel-info,
  .second-hotel {
    width: 200px;
    height: 300px;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .discount {
    width: 200px;
    bottom: 35px;
  }
  .hotel .img img {
    height: 450px;
    background-size: cover;
    width: 100%;
  }
  .perfect-section {
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
  }
  .perfect-video img {
    width: 100%;
  }

  .news-section {
    flex-direction: column;
  }
  .news-img img {
    width: 100%;
  }
  .play-control .play-line img{
    width: 95%;
    margin-left: 0;
    margin-right: 20px;
  }
  .play-upper{
    margin-left: 12px;
  }
  .all-service {
    flex-direction: column;
  }
}

/* Responsive for large device */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  header,
  main {
    margin: 50px 100px;
  }
  .tour-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tour-img img {
    width: 100%;
    margin-top: 10px;
  }
  .all-img {
    display: flex;
    flex-direction: column;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }

  .hotel {
    display: flex;
    flex-direction: column;
  }

  .hotel-info,
  .second-hotel {
    width: 300px;
    height: 300px;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .discount {
    width: 200px;
    bottom: 35px;
  }
  .hotel .img img {
    height: 450px;
    background-size: cover;
    width: 100%;
  }

  .perfect-section {
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
  }
  .perfect-video img {
    margin-top: 15px;
    width: 100%;
  }

  .news-section {
    flex-direction: column;
  }
  .news-img img {
    width: 100%;
  }
  .all-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
